<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.community.sys.mapper.RoleMenuMapper">

    <select id="getRolesMenuList" resultType="com.yc.community.sys.response.MenuVo">
        select name, path, sys_menu_info.order as order from sys_menu_info where id in (
            select distinct menu_id from sys_role_menu
            where role_id in
            <foreach item="role" index="index" collection="roles" open="(" separator="," close=")">
                #{role}
            </foreach>
        ) order by sys_menu_info.order
    </select>
</mapper>
